<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CommunityVolunteerPlatform">

        <activity
            android:name=".activities.SignUpActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".activities.LoginActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.MainActivity"
            android:exported="false" />
        <activity
            android:name=".activities.VolunteerDashboardActivity"
            android:exported="false" />

        <activity
            android:name=".activities.OrganizationDashboardActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".activities.ManageOpportunitiesActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".activities.OrganizationProfileActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".activities.CreateEventActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".activities.EventApplicantsActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".activities.BrowseOpportunitiesActivity"
            android:exported="false"
            android:label="Browse Opportunities"
            android:parentActivityName=".activities.VolunteerDashboardActivity" />
        <activity
            android:name=".activities.OpportunityDetailsActivity"
            android:exported="false"
            android:label="Opportunity Details"
            android:parentActivityName=".activities.BrowseOpportunitiesActivity" />

        <activity
            android:name=".activities.ApplyNowActivity"
            android:label="Apply Now"
            android:parentActivityName=".activities.OpportunityDetailsActivity"/>

        <meta-data
            android:name="com.google.android.gms.recaptcha.RECAPTCHA_SITE_KEY"
            android:value="6LcYHpkqAAAAAAnPixG3F-0BZqR6gTHPZyD6zS_z" />

        <meta-data
            android:name="CLOUDINARY_URL"
            android:value="cloudinary://${CLOUDINARY_API_KEY}:${CLOUDINARY_API_SECRET}@${CLOUDINARY_CLOUD_NAME}" />

        <activity
            android:name=".activities.PassportActivity"
            android:label="My Passport"
            android:parentActivityName=".activities.VolunteerDashboardActivity" />

        <activity
            android:name=".activities.EditProfileActivity"
            android:label="Edit Profile"
            android:parentActivityName=".activities.PassportActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".activities.AiRecommendationsActivity"
            android:label="For You"
            android:parentActivityName=".activities.VolunteerDashboardActivity" />

        <activity
            android:name=".activities.RecentChatsActivity"
            android:label="Chats"
            android:parentActivityName=".activities.VolunteerDashboardActivity" />

        <activity
            android:name=".activities.MessagesActivity"
            android:label="Chat"
            android:parentActivityName=".activities.RecentChatsActivity" />

        <activity
            android:name=".activities.UsersListActivity"
            android:label="Select User"
            android:parentActivityName=".activities.RecentChatsActivity" />

        <activity
            android:name=".activities.ApplicationsListActivity"
            android:label="My Applications"
            android:parentActivityName=".activities.VolunteerDashboardActivity" />

        <activity
            android:name=".activities.NotificationsActivity"
            android:label="Notifications"
            android:parentActivityName=".activities.VolunteerDashboardActivity" />

        <activity
            android:name=".activities.AdminDashboardActivity"
            android:label="Admin Dashboard"
            android:exported="false" />

        <activity
            android:name=".activities.AdminManageUsersActivity"
            android:label="Manage Users"
            android:parentActivityName=".activities.AdminDashboardActivity" />

        <activity
            android:name=".activities.AdminManageOrgsActivity"
            android:label="Manage Organisations"
            android:parentActivityName=".activities.AdminDashboardActivity" />

        <activity
            android:name=".activities.AdminBlockedUsersActivity"
            android:label="Blocked Users"
            android:parentActivityName=".activities.AdminDashboardActivity" />

        <activity
            android:name=".activities.AdminUserDetailsActivity"
            android:label="User Details"
            android:parentActivityName=".activities.AdminManageUsersActivity" />

        <activity
            android:name=".activities.AdminNewOpportunitiesActivity"
            android:label="Pending Opportunities"
            android:parentActivityName=".activities.AdminDashboardActivity" />

        <activity
            android:name=".activities.AiChatbotActivity"
            android:label="Volunteer Assistant"
            android:parentActivityName=".activities.VolunteerDashboardActivity" />

        <activity
            android:name=".activities.OrgAnalyticsActivity"
            android:label="Analytics Dashboard"
            android:parentActivityName=".activities.OrganizationDashboardActivity" />

        <activity
            android:name=".activities.SkillsGapActivity"
            android:label="Skills Gap Analysis"
            android:parentActivityName=".activities.AiRecommendationsActivity" />

        <activity
            android:name=".activities.AdminTrackProgramsActivity"
            android:label="Track Programs"
            android:parentActivityName=".activities.AdminDashboardActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>